/* Global Styles */
body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif , sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
 
}
ul{
  list-style-type: square ;
  
}
@media  screen and (max-width: 600px) {
  .sankalp-logo{
         width: 80vw !important;
         height: 35vh;
  }
  body{
    overflow-x: hidden;
  }
  .aboutimg{
    display: none;
  }
 
  
  
/* .container{
  transform-style: preserve-3d;
} */
.row{
  columns: 1 !important;
  display: flex;
  flex-direction: column;
}

 .body{

  width: 70vw !important;
  height: 60vh;
  margin: 20px;

 
}
.container .box{

  height: 40vh !important;
 
}


.secondrowevent{

  margin-right: 0% !important;
  
}
 .box{

  width: 100%;
  height: 100%;

  transition: 0.9s ease;
}



 .imgContainer{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


 img{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   

  }

 .box .body .content{

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  
  
}
  
  
.box .body .content div{

  padding: 20px;
  background: linear-gradient(45deg, #FE0061,#FFEB3B);
  transform: translateZ(100px);
}

 .box .body .content div h3{
  letter-spacing: 1px;
}
.contactcol{
  background-color: #333;
  display: flex;
  flex-direction: auto
  ;
}
.addresslist{
  width: 80vw !important;
margin-left:10vw !important ;
}

}
.footer{
  margin-bottom: 0 !important;
}

-------------------------------*/
#gallery {
  background: #fff;
  padding: 60px 0 0 0;
  overflow: hidden;
}

#gallery .container-fluid {
  padding: 0px;
}

#gallery .gallery-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all ease-in-out 0.4s;
}

#gallery .gallery-item {
  overflow: hidden;
  position: relative;
  padding: 0;
  vertical-align: middle;
  text-align: center;
}

#gallery .gallery-item img {
  transition: all ease-in-out 0.4s;
  width: 100%;
}

#gallery .gallery-item:hover img {
  transform: scale(1.1);
}

#gallery .gallery-item:hover .gallery-overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
}



/* Navigation Bar */
nav {
  background-color: #333;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding: 20px 16px;
  justify-content: space-around;
}

nav ul li {
  padding: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Main Content */
main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

h1,
h2 {
  color: #333;
}

.event {
  display: flex;
  align-items: center;
}

/*.event-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin-right: 20px;
  transition: transform 0.3s;
}*/

.event-image:hover {
  transform: scale(1.1);
}
.countdown-label{
  color: #be0d89;
  font-weight: 600;
}

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-family: Arial, sans-serif;
}

.countdown-timer {
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown-timer h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.countdown-timer p {
  font-size: 24px;
  margin-bottom: 10px;
}

.countdown-timer .countdown-digit {
  display: inline-block;
  font-size: 48px;
  font-weight: bold;
  margin: 5px;
  margin-top: 5vh;
  padding: 10px;
  border-radius: 5px;
  background-color: #f66c40;
  color: white;
} 


.container{
  transform-style: preserve-3d;
}

.container .box{
  position: relative;
  width: 35vw;
  height: 70vh;
  margin: 20px;
  transform-style: preserve-3d;
  perspective: 1000px;
 
}

.container .box .body{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.9s ease;
}



.container .box .body .imgContainer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.container .box .body .imgContainer img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .box .body .content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.container :hover .body{
  transform: rotateY(180deg);
}

.container .box .body .content div{
  transform-style: preserve-3d;
  padding: 20px;
  background: linear-gradient(45deg, #FE0061,#FFEB3B);
  transform: translateZ(100px);
}

.container .box .body .content div h3{
  letter-spacing: 1px;
}






.eveenthead{
  font-size: 350% !important;
  color: #be0d89  ;

}

.info :hover i{
  background: #ff7f5d;
  color: #fff;
}
.info {
  width: 100%;
  
}
.contactcol{
  background-color: #333;
 
  ;
}
.footer{
  color:#fff
}
.footer {
  background-color: #333;
  color: #fff;

  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content p {
  margin: 5px 0;
}





.map{
  padding: 1%;
  width: 30vw;
  margin: 1%;
  padding-left: 15vw;
  padding-right: 10vw;
}
.addresslist{
  margin: 1%;
  padding: 1%;
  width: 40vw;
  padding-left: 10vw;
}

.info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
 
}

.headingcontact{
  margin: 1%;
}
.headingcontact :hover hr{
  color: #f66c40;
  transition: 0.9 ease-in ;
}
 .info i {
  font-size: 20px;
  color: #ff7f5d;
  float: left;
  width: 44px;
  height: 44px;
  background: #fff8f6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}



.waviy {
  position: relative;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color:#be0d89;
  text-transform: uppercase;
  animation: flip 4s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}



